.avatar_thumb {
    border-radius: 30px;
    border: 2px solid #FF5500;
    padding: 0px; 
    width: 40px; 
}
.avatar_big {
	border-radius: 10px;
	border: 3px solid #FF5500;
	padding: 0px;
	margin: 10px;
	width: 200px;
}
body {
	font-family: 'Fira+Mono:400,700', Monospace;
	font-weight: 500;
}
h1 {
	color: #FF5500;
}
.nav {
	font-weight: 700;
}
a {
	font-weight: 700;
}
.attribution-link {
    color: #775555;

}
.attribution-link a{
    color: #BB2222;
}

.flipped {
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
display: inline-block;
}