<!-- extend base layout -->
{% extends "start.html" %}

{% block content %}
  <h1>Set the record straight</h1>
  <form action="" method="post" name="edit">
      {{form.hidden_tag()}}
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-4 text-right">Your handle (req'd):</div>
              <div class="col-md-6">{{ form.handle(size=24, class="form-control") }}
              {% for error in form.errors.handle %}
                <br><span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </div>
          </div>
          <div class="row">
          <div class="col-md-4 text-right">Your email (req'd):</div>
              <div class="col-md-6">{{ form.email(size=24, class="form-control") }}
              </div>
              </div>
          <div class="row">
            <div class="col-md-4 text-right">Avatar URL - these should be square-ish.<span class="text-danger"> <strong>You WILL break your avatar with a bad URL. </strong></span>Leave blank to use your <a href="http://gravatar.com/">Gravatar</a>.
            </div>
            <div class="col-md-6">
            {{ form.pic_url(size=32, class="form-control") }} </div>
            </div>
          <div class="row"><br>
              <div class="col-md-4 text-right">Spill the beans:</div>
              <div class="col-md-6">{{ form.about_me(cols=32, rows=4, class="form-control") }}</div>
          </div>
          <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6"><input class = "btn btn-primary" type="submit" value="Commit"></div>
          </div>
      </div>
  </form>
{% endblock %}