<!doctype HTML>
<html>
  <head>
    <title>Welcome to Stance Industries</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=VT323|Fira+Mono:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
     <div>
     <table>
     <tr>
     <td>
     Microblog: <a href="/index">Home</a>
     </td>
     <td width=90%>
          {% if g.user.is_authenticated %}
    <form style="display: inline;" action="{{ url_for('search') }}" method="post" name="search">{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20) }}<input type="submit" value="Delve"></form>
          {% endif %}
     </td>
     <td>
          {% if g.user.is_authenticated %}
          <a href="{{ url_for('user', handle=g.user.handle, page=1) }}"><img src="{{ g.user.avatar(32) }}" class="avatar_thumb"></a>
          <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
          <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
     </td>
     <tr>
     </table>
     </div>
     <hr>
     {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <hr>
    {% block content %}{% endblock %}

  <body>
</html>
